input {
  http_poller {
    urls => {
      sede_Derio => "https://api.open-meteo.com/v1/forecast?latitude=43.295935&longitude=-2.871209&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Zamudio_3 => "https://api.open-meteo.com/v1/forecast?latitude=43.289505&longitude=-2.859447&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Zamudio_2 => "https://api.open-meteo.com/v1/forecast?latitude=43.300833&longitude=-2.863332&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Zamudio_1 => "https://api.open-meteo.com/v1/forecast?latitude=43.293733&longitude=-2.862912&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Vitoria_Gasteiz_Albert_Einstein => "https://api.open-meteo.com/v1/forecast?latitude=42.914723&longitude=-2.662825&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Vitoria_Gasteiz_Leonardo_Da_Vinci => "https://api.open-meteo.com/v1/forecast?latitude=42.909678&longitude=-2.666621&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Andalucia => "https://api.open-meteo.com/v1/forecast?latitude=36.337547&longitude=-6.14991&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Azpeitia => "https://api.open-meteo.com/v1/forecast?latitude=43.208336&longitude=-2.250974&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Donostia_1 => "https://api.open-meteo.com/v1/forecast?latitude=43.286916&longitude=-1.985873&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Donostia_2 => "https://api.open-meteo.com/v1/forecast?latitude=43.290623&longitude=-1.983805&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Irun => "https://api.open-meteo.com/v1/forecast?latitude=43.326696&longitude=-1.827204&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Madrid => "https://api.open-meteo.com/v1/forecast?latitude=40.462530&longitude=-3.688802&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Zaragoza => "https://api.open-meteo.com/v1/forecast?latitude=41.671002&longitude=-0.900153&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Colombia_Bogota => "https://api.open-meteo.com/v1/forecast?latitude=4.661067&longitude=-74.0498267&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Francia_Montpellier => "https://api.open-meteo.com/v1/forecast?latitude=43.63583&longitude=3.84263&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Francia_Burdeos => "https://api.open-meteo.com/v1/forecast?latitude=44.781217&longitude=-0.651378&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Italia => "https://api.open-meteo.com/v1/forecast?latitude=43.661135&longitude=10.632319&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Mexico => "https://api.open-meteo.com/v1/forecast?latitude=19.4268074&longitude=-99.2056615&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_Serbia => "https://api.open-meteo.com/v1/forecast?latitude=44.801761&longitude=20.465026&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"
      sede_China => "https://api.open-meteo.com/v1/forecast?latitude=31.899679&longitude=118.773560&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,daylight_duration,precipitation_sum,precipitation_probability_max,wind_speed_10m_max,wind_direction_10m_dominant&forecast_days=2"

    }

    request_timeout => 60
    schedule => { every => "1h" }
    codec => "json"
    metadata_target => "http_poller_metadata"
  }
}


filter {
  json {
    source => "message"
  }

  ruby {
    code => '
      if event.get("daily").is_a?(Hash)
        event.get("daily").each do |key, value|
          if value.is_a?(Array) && value.size >= 2
            event.set(key, value[1])
          end
        end
      end
      event.remove("daily")
      event.remove("daily_units")
    '
  }

  mutate {
    add_field => {
      "location" => "%{[latitude]},%{[longitude]}"
      "sede_info_nombre" => "%{[http_poller_metadata][input][http_poller][request][name]}"
    }
    remove_field => [
      "generationtime_ms", "utc_offset_seconds", "timezone",
      "timezone_abbreviation", "elevation", "message"
    ]
  }

  date {
    match => ["@timestamp", "ISO8601"]
  }

}



output {
  elasticsearch {
    hosts => ["elasticsearch:9200"]
    index => "datos_meteorologicos_dia_siguiente_sedes_index"

  }

  stdout {
    codec => "json"
  }
}